export(
  archeoViz, 
  demo_objects_data,
  demo_refits_data,
  demo_timeline_data
)

import(shiny)
importFrom(shinythemes, shinytheme)
importFrom(cxhull, cxhull, hullMesh)
importFrom(mgcv, gam)
importFrom(svglite, svglite)
importFrom(utils, packageVersion, read.csv)
importFrom(grDevices, rgb, rainbow)
importFrom(stats, predict)
importFrom(reshape2, dcast)
importFrom(plotly, plotlyOutput, renderPlotly, plot_ly, ggplotly, config, add_markers, add_surface, add_paths, add_mesh, layout, event_data)
importFrom(ggplot2, ggplot, geom_point, aes_string, guides, guide_legend, geom_density2d, scale_x_continuous, scale_color_manual, ggsave, geom_rect, theme_minimal, geom_tile, geom_vline, geom_hline, coord_fixed, xlab, ylab, scale_fill_manual, scale_y_continuous, facet_wrap, theme, element_text)
